<div class="px-2 py-3 mx-2">
  <div
    id="nav-div"
    class="p-3 rounded-lg shadow-[0_0_60px_0_rgba(0,0,0,0.4)] items-center"
  >
    <nav class="text-[#3F73AF]">
      <ul class="flex flex-row items-center text-xl">
        <li routerLinkActive="active">
          <a
            routerLink="/products"
            class="font-semibold py-4 px-2 active:text-[#dbe2ef]"
          >
            <span
              class="hover:bg-[#3F73AF] hover:text-[#dbe2ef] rounded-full p-[7px]"
              >Products</span
            >
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="/cart"
            class="py-4 px-2 font-semibold active:text-[#dbe2ef]"
          >
            <span
              class="hover:bg-[#3F73AF] hover:text-[#dbe2ef] rounded-full p-[7px]"
              >Cart</span
            >
          </a>
        </li>
        <li class="ml-auto" routerLinkActive="active">
          <a
            routerLink="/login"
            class="font-semibold flex active:text-[#dbe2ef]"
          >
            <span
              class="hover:bg-[#3F73AF] hover:text-[#dbe2ef] rounded-full p-[7px] material-symbols-outlined"
            >
              login
            </span>
            <!-- logout -->
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
