<div class="container flex flex-col" *ngIf="contentLoaded && !cartNotFound">
  <div class="my-6">
    <h2 class="text-4xl text-center">Bill</h2>
  </div>
  <div class="flex flex-col p-4 text-center">
    <table class="m-4 table-auto">
      <tr>
        <th>Sr.</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price Per Piece</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let product of cart2List; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productPurchased }}</td>
        <td>{{ product.productPrice | currency : "INR" : "symbol-narrow" }}</td>
        <td>
          {{
            product.productPurchased * product.productPrice
              | currency : "INR" : "symbol-narrow"
          }}
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-xl font-semibold text-end">Grand Total:</td>
        <td class="">
          {{ grandTotal | currency : "INR" : "symbol-narrow" }}
        </td>
      </tr>
    </table>
  </div>
  <div class="flex flex-col items-center">
    <button
      class="p-2 px-4 my-4 text-white bg-green-800 rounded-md hover:font-semibold"
      (click)="onFinalize()"
    >
      Finalize
    </button>
  </div>
</div>

<div *ngIf="!contentLoaded" class="flex flex-row mx-auto mt-5 lds-ripple">
  <div></div>
  <div></div>
</div>

<div *ngIf="contentLoaded && cartNotFound">
  <h1 class="text-3xl text-center">Oops.....The cart was not found!!</h1>
  <div class="flex flex-col items-center">
    <img
      class="w-[512px]"
      src="https://cdn1.iconfinder.com/data/icons/website-internet-browser/711/500_error_internal_server_internet-512.png"
      alt=""
    />
  </div>
</div>
