<div
  class="flex flex-row items-center justify-center text-center h-[40rem] sm:w-auto"
>
  <div
    class="flex flex-col ml-12 items-center w-[600px] bg-blue-100 rounded-full shadow-[0_0_40px_0px_rgb(0,0,0,0.1)] justify-evenly h-[95%]"
  >
    <h1 class="mt-4 text-4xl font-bold">
      {{ isLogin ? "Login" : "Signup" }} Form
    </h1>
    <form
      class="flex flex-col justify-center w-3/5 mb-8 align-middle h-1/2"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-row justify-around" *ngIf="!isLogin">
        <input
          id="userFirstName"
          class="my-4 text-center mr-1 font-semibold border-b-[2px] border-b-blue-500"
          type="text"
          formControlName="userFirstName"
          placeholder="first name"
          autocomplete="off"
        />
        <input
          id="userLastName"
          class="my-4 text-center ml-1 font-semibold border-b-[2px] border-b-blue-500"
          type="text"
          formControlName="userLastName"
          placeholder="last name"
          autocomplete="off"
        />
      </div>
      <!-- <label for="email" class="text-xl font-bold">Email: </label> -->
      <input
        id="email"
        class="my-4 text-center mr-1 font-semibold border-b-[2px] border-b-blue-500"
        type="email"
        formControlName="userEmail"
        placeholder="example@gmail.com"
        autocomplete="off"
      />
      <!-- <label for="password" class="text-xl font-bold">Password: </label> -->
      <input
        id="password"
        class="my-4 text-center ml-1 font-semibold border-b-[2px] border-b-blue-500"
        type="password"
        formControlName="userPassword"
        placeholder="password"
        autocomplete="off"
        minlength="8"
      />
      <div
        class="flex self-center justify-center sm:w-[63%] mt-6 mb-8 md:w-1/2"
        id="radio-button-toggle"
      >
        <input
          name="userRole"
          type="radio"
          class="radio-button"
          id="buyer"
          value="buyer"
          formControlName="userRole"
          checked
        />
        <label for="buyer" class="radio-label">Buyer</label>
        <input
          name="userRole"
          type="radio"
          class="radio-button"
          id="seller"
          value="seller"
          formControlName="userRole"
        />
        <label for="seller" class="radio-label">Seller</label>
      </div>
      <button
        style="outline: none"
        class="w-40 p-2 mx-auto mt-auto font-semibold text-white bg-blue-600 rounded-lg md:w-40 hover:ring-2 hover:ring-blue-600 hover:bg-white hover:text-black focus:ring-2 focus:ring-blue-600 focus:bg-white focus:text-black"
        type="submit"
      >
        {{ isLogin ? "Log in" : "Sign up" }}
      </button>
    </form>
  </div>
  <div class="flex flex-col self-start mt-16 mr-12">
    <button
      class="shadow-[0_0_40px_0px_rgb(0,0,0,0.25)] rounded-full"
      (click)="onLogin()"
    >
      <span
        matTooltipPosition="before"
        matTooltip="new"
        class="hover:bg-[#3F73AF] text-white bg-[#5a93d3] hover:text-[#dbe2ef] text-3xl rounded-full p-[14px] px-[17px] material-symbols-outlined"
      >
        {{ isLogin ? "person_add" : "person_check" }}
      </span>
    </button>
    <span class="mt-1">
      {{ isLogin ? "Sign up" : "Log in" }}
    </span>
  </div>
</div>
