input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  background-color: transparent;
  padding-right: 0px !important;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid #dc134c;
  color: #dc134c;
}

input:focus {
  border-bottom: 2px solid #112d4e;
  border-radius: 5px;
  outline: none;
}

.asterisk {
  color: #dc143c;
}

span {
  font-weight: bold;
}

.reactive-span {
  color: #dc143c;
  font-weight: 300;
}

.radio-label {
  position: relative;
  padding: 1rem;
  padding-inline: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.radio-button {
  display: none;

  &:checked + .radio-label {
    background-color: #5a93d3;
    color: #f1f1f1;

    &:nth-of-type(1) {
      border-radius: 999rem 0px 0px 999rem;
    }

    &:nth-of-type(2) {
      border-radius: 0px 999rem 999rem 0px;
    }
  }
}

#radio-button-toggle {
  border: 2px solid #5a93d3;
  border-radius: 999rem;
  > * {
    flex: 0 0 33.33%;
  }

  &:after {
    border-radius: 999rem;
  }
}
