<!-- ADD PRODUCTS AND LOADER STARTS HERE -->

<div class="flex flex-row justify-between h-10 px-4">
  <button
    (click)="onSaveCart()"
    class="p-2 px-5 ml-auto font-medium text-white rounded-lg bg-[#3f73af] hover:bg-[#274f79] hover:font-semibold"
  >
    Add to Cart
  </button>
</div>

<div *ngIf="!contentLoaded" class="flex flex-row mx-auto mt-5 lds-ripple">
  <div></div>
  <div></div>
</div>

<!-- ADD PRODUCTS AND LOADER ENDS HERE -->

<!-- PRODUCTS LIST START HERE -->

<div class="flex flex-row justify-center mt-4">
  <div class="flex flex-row flex-wrap justify-center">
    <!-- PRODUCT CARD STARTS HERE -->
    <mat-card
      class="m-4 w-[280px] product-card md:w-[300px] lg:w-[400px]"
      *ngFor="let product of productList; index as i"
    >
      <mat-card-header class="h-full">
        <img
          [ngClass]="{ grayscale: product.productQuantity == 0 }"
          style="width: 112px; height: 112px; object-fit: cover"
          class="flex-col mb-4 rounded-md"
          [src]="product.productImage"
        />
        <mat-card-title-group class="flex-col pl-4">
          <mat-card-title>
            <span class="text-lg font-bold line-clamp-3">
              {{ product.productName }}
            </span>
          </mat-card-title>
          <mat-card-subtitle>
            <span class="float-left text-sm">
              {{ product.productPrice | currency : "INR" : "symbol-narrow" }}
            </span>
            <span *ngIf="isSeller" class="float-right text-sm">
              Available: {{ product.productQuantity }}
            </span>
          </mat-card-subtitle>
          <div class="flex flex-row justify-center mt-auto" *ngIf="!isSeller">
            <div
              *ngIf="product.productQuantity != 0"
              class="flex flex-row items-center justify-center my-4 align-middle"
            >
              <button
                class="flex rounded-sm ring-1 active:shadow-[0_0_4px_0_rgba(0,0,0,0.4)]"
                (click)="onDecrement(i)"
              >
                <span class="material-symbols-outlined"> remove </span>
              </button>

              <input
                class="mx-3 text-center"
                type="text"
                size="4"
                min="0"
                readonly
                [max]="product.productQuantity"
                [(ngModel)]="product.productPurchased"
                [value]="product.productPurchased"
                maxlength="3"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              />
              <button
                class="flex rounded-sm ring-1 active:shadow-[0_0_4px_0_rgba(0,0,0,0.4)]"
                (click)="onIncrement(i)"
              >
                <span class="material-symbols-outlined"> add </span>
              </button>
            </div>
          </div>
        </mat-card-title-group>
      </mat-card-header>

      <!--  FOR SELLER -->

      <div class="flex flex-row justify-center mt-auto" *ngIf="isSeller">
        <div
          class="flex flex-row items-center justify-center my-4 align-middle"
        >
          <button
            class="flex rounded-sm ring-1 active:shadow-[0_0_4px_0_rgba(0,0,0,0.4)]"
            (click)="onDecrement(i)"
          >
            <span class="material-symbols-outlined"> remove </span>
          </button>

          <!-- focus:border-b-[1px] focus:border-[#181818] focus:border-spacing-1 -->
          <input
            class="mx-3 text-center"
            type="text"
            size="4"
            min="0"
            readonly
            [max]="product.productQuantity"
            [(ngModel)]="product.productPurchased"
            [value]="product.productPurchased"
            maxlength="3"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          />
          <button
            class="flex rounded-sm ring-1 active:shadow-[0_0_4px_0_rgba(0,0,0,0.4)]"
            (click)="onIncrement(i)"
          >
            <span class="material-symbols-outlined"> add </span>
          </button>
        </div>
      </div>
    </mat-card>
    <!-- PRODUCT CARD ENDS HERE -->
  </div>
</div>

<!-- PRODUCTS LIST ENDS HERE -->
