.product-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline: none;
}

.product-input {
  border-bottom: 1px solid #112d4e;
}

.product-input:focus {
  border-bottom: 2px solid #112d4e;
  border-radius: 5px;
}

.new-product-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  z-index: 50;
  overflow-y: auto;
}

.new-product-form {
  position: absolute;
  top: 10vh;
  left: 25vw;
  z-index: 100;
  background: white;
}

.new-product-actions {
  text-align: right;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid #dc134c;
  color: #dc134c;
}

.asterisk {
  color: #dc143c;
  font-weight: bold;
}

.reactive-span {
  color: #dc143c;
  font-weight: 300;
}

.lds-ripple {
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #112d4e;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
